<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UrbanPiper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30F7FC131F62F9BD0036D181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30F7FC2C1F62F9BD0036D181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30F7FC371F62F9BD0036D181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
